<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong class="center">Site Powered by Ruby on Rails 6</strong><a href="https://rubyonrails.org/"></a>
      <div class="center">FileNotFound Capstone Project</div>
      <div class="center">National University 2020</div>
    </p>
  </div>
</footer>