<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Welcome to GreggsJobs</title>
    </head>

    <body>
        <section>
            <div class="container center">
                <img src="/app/assets/images/logos/greggs_jobs.png" width="250" height="250">
            </div>
            
            <div class="container center is-size-1">
                <h1>Welcome to Greggs Jobs!</h1>
            </div>

            <div class="container center">
                <p>GreggsJobs.com is a free, user-friendly job listing website. Our goal is very simple “to help people find the job that is right for 
                them by being part of an interactive community that encourages communication between employers and job seekers”. Users will have an 
                unprecedented experience at GreggsJobs due to the fact that there is no other website or community with the same vision or goal in mind.</p>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="notification">  
                            GreggsJobs is a web application for job seekers to search for and apply to jobs, and where employers can post job listings.  
                            We designed GreggsJobs with a community of job seekers and employers in mind. A community where job seekers can give and get 
                            feedback from employers to improve their job seeking skills and resumes. To often when people apply for jobs online, they get 
                            little to no feedback or response from the company they are applying with. At GreggsJobs we are focusing on encouraging employers 
                            to be more communicative with applicants so they can improve their resumes and skills to match what employers are looking for.
                        </div>
                    </div>
                    <div class="column">
                        <div class="notification">  
                           GreggsJobs.com is a job listing website to help people find jobs.  GreggsJobs posts listings for job seekers in every industry and 
                           skill level. As of now, at GreggsJobs, you can filter your job search by category, Full-time or Part-time listings. As a guest at 
                           the website you can browse job listings, company listings, and read company reviews left by other GreggsJobs members. In order to take 
                           full advantage of the website and apply for jobs, or leave reviews, you need to create a free account using your name and email address. 
                           Once you have securely signed into you account you can apply for job listings as well as level reviews and a rating for companies you 
                           have interacted with.
                        </div>
                    </div>
                </div>
            </div>
        </section>   
    </body>
</html>