<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>Welcome to GreggsJobs</title>
    </head>

    <body>
        <section>

            
            <div class="container center is-size-1">
                <h1>Welcome to Greggs Jobs!</h1>
            </div>

            <div class="container center">
                <p class="is-size-5">GreggsJobs.com is a free, user-friendly job listing website. Our goal is very simple “to help people find the job that is right for 
                them by being part of an interactive community that encourages communication between employers and job seekers”. Users will have an 
                unprecedented experience at GreggsJobs due to the fact that there is no other website or community with the same vision or goal in mind.</p>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <article class="media notification is-primary">
                            <figure class="media-left"> 
                                <span class="icon is-medium"> 
                                    <i class="fa fa-2x fa-id-card" aria-hidden="true"></i>
                                </span> 
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <h1 class="title is-size-4">Who We Are</h1>   
                                    <p class="is-size-5">
                                        GreggsJobs is a Community of Employers and Job Seekers with a common goal in mind "link the right candidate with the right employer".
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                    <div class="column">
                        <article class="media notification is-primary">
                                <figure class="media-left"> 
                                    <span class="icon is-medium"> 
                                        <i class="fa fa-2x fa-rocket" aria-hidden="true"></i>
                                    </span> 
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <h1 class="title is-size-4">Our Mission</h1>   
                                        <p class="is-size-5">
                                            We seek to create a Community of professionals who want to have a better, more rewarding, job seeking and hiring process. Through our
                                            "Employer Rating System", Job Seekers are encouraged to share their thoughts and experiences with others, and Employers are encouraged
                                            open the lines of communications with applicants and potential hires.
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="column">
                            <div class="notification is-primary">
                            <h1 class="title is-size-4">Your Goals</h1>
                                <p class="is-size-5"> 
                                GreggsJobs.com is a job listing website to help people find jobs.  GreggsJobs posts listings for job seekers in every industry and 
                                skill level. As of now, at GreggsJobs, you can filter your job search by category, Full-time or Part-time listings. As a guest at 
                                the website you can browse job listings, company listings, and read company reviews left by other GreggsJobs members. In order to take 
                                full advantage of the website and apply for jobs, or leave reviews, you need to create a free account using your name and email address. 
                                Once you have securely signed into you account you can apply for job listings as well as level reviews and a rating for companies you 
                            have interacted with.
                            </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>   
    </body>
</html>